@if (account) {
<div class="card shadow-sm bg-body-tertiary">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h1>My Profile</h1>
            <a routerLink="update" class="btn btn-primary">Update Profile</a>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-6">
                <label for="first_name" class="col-form-label"><strong>First Name:</strong></label>
                <div class="col-12">
                    {{ account.firstName === '' ? 'N/A' : account.firstName }}
                </div>
            </div>
            <div class="col-6">
                <label for="last_name" class="col-form-label"><strong>Last Name:</strong></label>
                <div class="col-12">
                    {{ account.lastName === '' ? 'N/A' : account.lastName }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="email" class="col-form-label"><strong>Email:</strong></label>
                <div class="col-12">
                    {{ account.email }}
                </div>
            </div>
            <div class="col-6">
                <label for="role" class="col-form-label"><strong>Role:</strong></label>
                <div class="col-12">
                    {{ account.role }}
                </div>
            </div>
        </div>
        <div class="row">
            <label for="apikeys" class="col-form-label"><strong>API Keys & Secrets:</strong></label>
            <div class="col-12">
                <pre>{{ account.apiKeys | json }}</pre>
            </div>
        </div>
    </div>
</div>
}