# copied from .gitignore

# Compiled output
dist/

# Node
node_modules/

# Angular
.angular/cache

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*