<div class="app-container" [ngClass]="{ 'bg-light': account }">
  <!-- main nav -->
  <nav class="navbar navbar-expand navbar-dark bg-dark px-3 fixed-top" data-bs-theme="dark">
    <div class="container">
      <!-- Home -->
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="nav-item nav-link navbar-brand">Quantum-Proxy</a>
      <div class="navbar-nav ms-auto me-5 align-items-center">
        <!-- Providers -->
        <a routerLink="/providers" class="nav-item nav-link ps-4">Providers</a>
        <!-- Systems (backends) -->
        <a routerLink="/systems" class="nav-item nav-link ps-4">Systems</a>
        <!-- Compare two providers (or systems ¿maybe?) -->
        <a routerLink="/compare" class="nav-item nav-link ps-4">Compare</a>
        <!-- Wizard -->
        <a routerLink="/wizard" class="nav-item nav-link ps-4">Wizard</a>
        <li class="nav-item dropdown ps-4" data-bs-theme="dark">
          @if (!account) {
          <!-- If user not loged in, mistery person avatar -->
          <img id="logout-user" class="nav-link dropdown-toggle" src="https://www.gravatar.com/avatar/?d=mp&f=y&s=32"
            data-bs-toggle="dropdown" role="button" aria-expanded="false" />
          }@else {
          <!-- If user loged in, email-hash based avatar -->
          <img id="logout-user" class="nav-link dropdown-toggle"
            src="https://www.gravatar.com/avatar/{{ account.email| hash }}?d=retro&f=y&s=32" data-bs-toggle="dropdown"
            role="button" aria-expanded="false" />
          }
          <ul class="dropdown-menu">
            @if (account) {
            <!-- If user loged in, settings + logout -->
            <li class="dropdown-item-text">Signed in as<br><strong>{{ account.email }}</strong></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button (click)="logout()" class="dropdown-item">Logout</button></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/profile" class="dropdown-item">Account Settings</a></li>
            @if (account.role === Role.Admin) {
            <!-- If user has admin role, show admin utils -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <a routerLink="/admin" class="dropdown-item">Admin Tools</a>
            }
            }@else {
            <!-- If user not loged in, show login button -->
            <li><a routerLink="/account/login" class="dropdown-item">Login</a></li>
            }
          </ul>
        </li>
      </div>
    </div>
  </nav>

  <!-- subnav router outlet -->
  <router-outlet name="subnav"></router-outlet>

  <!-- global alert -->
  <alert></alert>

  <!-- main router outlet -->
  <router-outlet></router-outlet>

  <a [class.show]="showScroll" (click)="scrollToTop()" class="scroll-to-top">
    <!-- Volver al principio -->
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</div>

<style>
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
  }

  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
  }
</style>