<div class="app-container" [ngClass]="{ 'bg-light': account }">
  <!-- main nav -->
  @if (account) {
  <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
      <!-- Home -->
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link navbar-brand">Quantum-Proxy</a>
      <!-- Providers -->
      <a class="nav-item nav-link">Providers</a>
      <!-- Compare two providers (or backends ¿maybe?) -->
      <a class="nav-item nav-link">Compare</a>
      <!-- User Profile -->
      <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
      <!-- Admin Utils -->
      @if (account.role === Role.Admin) {
      <a routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
      }
      <!-- Logout -->
      <button (click)="logout()" class="btn btn-link nav-item nav-link">Logout</button>
    </div>
  </nav>
  }

  <!-- subnav router outlet -->
  <router-outlet name="subnav"></router-outlet>

  <!-- global alert -->
  <alert></alert>

  <!-- main router outlet -->
  <router-outlet></router-outlet>
</div>