@if (system1 && system2) {
<div class="container pt-4">
    <h2 class="text-center mb-4">Comparing:
        <a routerLink="/systems/{{ system1.bid }}" class="link-underline link-underline-opacity-0"
            style="color: inherit;">
            {{ normalizeName(system1.backend_name) }}
            {{ (system1.provider.provider_from ? ' (' + system1.provider.provider_from + ')' : '') }}
        </a>
        vs
        <a routerLink="/systems/{{ system2.bid }}" class="link-underline link-underline-opacity-0"
            style="color: inherit;">
            {{ normalizeName(system2.backend_name) }}
            {{ (system2.provider.provider_from ? ' (' + system2.provider.provider_from + ')' : '') }}
        </a>
    </h2>
    <div class="m-auto" style="max-width: 800px;">
        <system-props [systems]="[system1, system2]"></system-props>
    </div>
</div>
}