<div class="modal-lg">
    <div class="modal-header">
        <h5 class="modal-title">Update Secrets</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cierre usuario')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            @for (plat of platformList; track $index) {
            <div class="row">
                <div class="col-4">
                    <label class="form-label">Platform</label>
                </div>
                @if (plat.apiKeys.length > 0) {
                <div class="col-3">
                    <label class="form-label">Key</label>
                </div>
                <div class="col-3">
                    <label class="form-label">Value</label>
                </div>
                <div class="col-2"></div>
                }
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-4">
                        <input type="text" [formControlName]="'plat-'+plat.platform" class="form-control" />
                    </div>
                    @if (plat.apiKeys.length === 0) {
                    <div class="col-2">
                        <a type="button" class="btn btn-secondary form-control" (click)="addKeyPair(plat.platform)">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                    }
                    @for (pair of plat.apiKeys; track index; let isFirst = $first, isLast = $last, index = $index) {
                    @if (isFirst) {
                    <div class="mb-3 col-3">
                        <!-- <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['key'].errors }" /> -->
                        <input type="text" [formControlName]="'plat-'+plat.platform+'_key-'+index"
                            class="form-control" />
                        <div *ngIf="submitted && f['key'].errors" class="invalid-feedback">
                            <div *ngIf="f['key'].errors['required']">Last Name is required</div>
                        </div>
                    </div>
                    <div class="mb-3 col-3">
                        <!-- <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['value'].errors }" /> -->
                        <input type="text" [formControlName]="'plat-'+plat.platform+'_value-'+index"
                            class="form-control" />
                        <div *ngIf="submitted && f['value'].errors" class="invalid-feedback">
                            <div *ngIf="f['value'].errors['required']">Last Name is required</div>
                        </div>
                    </div>
                    @if (plat.apiKeys.length === 1) {
                    <div class="mb-3 pe-1 col-1">
                        <button class="btn btn-danger form-control" (click)="removeKeyPair(plat.platform)"><i
                                class="fa-solid fa-minus"></i></button>
                    </div>
                    <div class="mb-3 ps-1 col-1">
                        <a type="button" class="btn btn-secondary form-control" (click)="addKeyPair(plat.platform)"><i
                                class="fa-solid fa-plus"></i></a>
                    </div>
                    }
                    }
                    }
                </div>
                @for (pair of plat.apiKeys; track index; let isFirst = $first, isLast = $last, index = $index) {
                @if (!isFirst) {
                <div class="row">
                    <div class="col-4">
                        <!-- <input type="text" formControlName="platform" class="form-control" /> Placeholder -->
                    </div>
                    <div class="mb-3 col-3">
                        <!-- <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['key'].errors }" /> -->
                        <input type="text" [formControlName]="'plat-'+plat.platform+'_key-'+index"
                            class="form-control" />
                        <div *ngIf="submitted && f['key'].errors" class="invalid-feedback">
                            <div *ngIf="f['key'].errors['required']">Last Name is required</div>
                        </div>
                    </div>
                    <div class="mb-3 col-3">
                        <!-- <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['value'].errors }" /> -->
                        <input type="text" [formControlName]="'plat-'+plat.platform+'_value-'+index"
                            class="form-control" />
                        <div *ngIf="submitted && f['value'].errors" class="invalid-feedback">
                            <div *ngIf="f['value'].errors['required']">Last Name is required</div>
                        </div>
                    </div>
                    @if (isLast) {
                    <div class="mb-3 pe-1 col-1">
                        <button class="btn btn-danger form-control" (click)="removeKeyPair(plat.platform)"><i
                                class="fa-solid fa-minus"></i></button>
                    </div>
                    <div class="mb-3 ps-1 col-1">
                        <a type="button" class="btn btn-secondary form-control" (click)="addKeyPair(plat.platform)"><i
                                class="fa-solid fa-plus"></i></a>
                    </div>
                    }
                </div>
                }
                }
            </div>
            }
            <div class="row">
                @if (platformList.length === 0) {
                <div class="mb-3 col-4">
                    <a class="btn btn-secondary form-control" (click)="addPlatform()">
                        Click to add a platform
                    </a>
                </div>
                }@else {
                <div class="mb-3 pe-1 col-2">
                    <a class="btn btn-danger form-control" (click)="removePlatform()">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                </div>
                <div class="mb-3 ps-1 col-2">
                    <a class="btn btn-secondary form-control" (click)="addPlatform()">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                }
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cierre usuario')">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid"
            (click)="onSubmit()">Save
            changes</button>
    </div>
</div>