<h3 class="card-header">Verify Email</h3>
<div class="card-body">
    <div *ngIf="emailStatus == EmailStatus.Verifying">
        Verifying...
    </div>
    <div *ngIf="emailStatus == EmailStatus.Failed">
        Verification failed, you can also verify your account using the
        <a routerLink="../forgot-password" class="link-offset-2 link-offset-3-hover
            link-underline link-underline-opacity-0
            link-underline-opacity-75-hover">
            forgot password</a> page.
    </div>
</div>