<div class="modal-header">
    <h5 class="modal-title">
        Create Job
        <a style="cursor: pointer;">
            <ng-template #tipContent>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    href="https://docs.ionq.com/guides/direct-api-submission" target="_blank">
                    How to submit jobs</a> <br>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    href="https://docs.ionq.com/api-reference/v0.3/writing-quantum-programs" target="_blank">
                    Writing Quatum Programs</a>
            </ng-template>
            <i class="fa-regular fa-circle-question howtojobs" placement="right" triggers="click"
                [autoClose]="'outside'" [ngbTooltip]="tipContent"></i>
        </a>
    </h5>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <label for="job-name" class="col-form-label">Job Name:</label>
                <input type="text" class="form-control" id="job-name" formControlName="name">
            </div>
            <div class="col-6">
                <ng-template #tipContent2>
                    Selects a noise model to apply to a simulation job.
                    The default, <code>ideal</code>, provides perfect simulation without noise,
                    while other noise models like <code>harmony</code> are based on noise data collected from actual
                    quantum computers
                </ng-template>
                <label for="job-name" class="col-form-label">Select Noise Model:
                    <i class="fa-regular fa-circle-question" placement="right" [ngbTooltip]="tipContent2"></i>
                </label>
                <select formControlName="noiseModel" class="form-select">
                    <option value="harmony">Harmony</option>
                    <option value="aria-1">Aria-1</option>
                    <option selected value="">Ideal (default)</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="provider" class="col-form-label">Provider:</label>
                <select class="form-select" formControlName="provider" (change)="getFilteredSystems()"
                    [(ngModel)]="selectedProvider">
                    @for (provider of providers; track provider.id) {
                    <option [value]="provider.pid">
                        {{ provider.name }}
                        {{ (provider.from_third_party ? ' (' + provider.third_party?.third_party_name + ')' : '') }}
                    </option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label for="target" class="col-form-label">Target:</label>
                <select class="form-select" formControlName="target" [(ngModel)]="selectedTarget">
                    @for (system of systems; track $index) {
                    <option [value]="normalizeNameToURL(system)">{{ normalizeName(system.backend_name) +
                        (system.provider.provider_from ? ' (' + system.provider.provider_from + ')' : '') }}
                    </option>
                    }
                </select>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="shots" class="col-form-label">Shots:</label>
                    <input id="shots" formControlName="shots" type="number" min="1" max="10000" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="qubits" class="col-form-label">Qubits:</label>
                    <input id="qubits" formControlName="qubits" type="number" min="1" class="form-control">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="circuit" class="col-form-label">Circuit:</label>
                <div id="sortBy" class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Fill With Example Values
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" role="button" (click)="fillWithExample('clear')">Clear Form</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" role="button" (click)="fillWithExample('bell')">Bell State</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button" (click)="fillWithExample('ghz')">GHZ State</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button" (click)="fillWithExample('toffoli')">Toffoli Gate</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button" (click)="fillWithExample('qft3')">QFT 3 qubits</a>
                        </li>
                    </ul>
                </div>
            </div>
            <textarea class="form-control" id="circuit" formControlName="circuit" rows=4></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ngbAutofocus
        (click)="modal.dismiss('Cierre usuario')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit Job</button>
</div>

<style>
    .howtojobs {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1.25rem 1rem;
    }
</style>