<div class="p-4">
    <div class="container">
        <div class="row">
            @for (provider of providers; track provider.id) {
            <div class="col-4 mb-3">
                <div class="card mb-3 shadow-sm bg-body-tertiary rounded">
                    <div class="card-header">
                        Data obtained
                        @switch (provider.fetchMethod) {
                        @case ("API") {
                        using API requests
                        }
                        @case ("SDK") {
                        using the corresponding SDK
                        }
                        @case ("WEB-SCRAPING") {
                        using {{ provider.fetchMethod | lowercase }}
                        }
                        @default {
                        from {{ provider.third_party?.third_party_name }}
                        }
                        }
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ provider.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            Has {{ provider.backends_ids.length }} systems available
                        </h6>
                        <p class="card-text overflow-auto" style="height: 100px;">
                            {{ getDescription(provider, 'short') }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <a routerLink="{{provider.pid}}" class="btn btn-primary">Show provider</a>
                            <small class="text-muted align-self-center">
                                Last updated: {{ provider.last_checked | date: 'dd/MM/yy, HH:mm' }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            }
            @if (!providers) {
            @for (p of [1,2,3,4,5,6,7,8,9]; track p) {
            <div class="col-4 mb-3">
                <div class="card mb-3 shadow-sm bg-body-tertiary rounded" aria-hidden="true">
                    <div class="card-header placeholder-glow">
                        <span class="placeholder col-3"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary placeholder-glow">
                            <span class="placeholder col-4"></span>
                        </h6>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-6"></span>
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary disabled placeholder col-4" aria-disabled="true"></a>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>