<div class="container p-4">
    @if (provider) {
    <h1 class="display-6">{{ provider.name }}</h1>
    <div class="row">
        <div class="col-8">
            @if (provider.description === '') {
            <p>Description must be manually inserted into the database.</p>
            }@else {
            <!-- Usamos innerHTML para incrustar código html que proviene de la descripcion -->
            <div [innerHTML]="getDescription(provider!)"></div>
            }
        </div>
        <div class="col-4">
            <a class="btn btn-primary" style="margin: auto 4.5rem;" [ngClass]="{'disabled': !provider.website}"
                [href]="provider.website" target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square pe-1"></i>
                View website
            </a>
            @if (systems) {
            <p class="hide-if-needed fs-5 my-3" style="margin: auto 4.5rem;">
                Has {{ systems.length }} system{{ systems.length > 1 ? 's' : '' }} available, <br>
                of which {{ countSystemsOnline() }} {{ systems.length > 1 ? 'are' : 'is' }} online:
            </p>
            <div class="hide-if-needed" style="margin-left: 1.5rem;">
                <p-carousel [value]="systems" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000"
                    showIndicators="true" showNavigators="true">
                    <ng-template let-system pTemplate="item">
                        <div class="card mx-3 bg-body-tertiary">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    {{system.backend_name}} -
                                    from {{ system.provider.provider_name }}
                                    @if (system.provider.provider_from) {
                                    (by {{ system.provider.provider_from }})
                                    }
                                </h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary text-center">
                                    Last updated: {{ system.last_checked | date: 'dd/MM/yy, HH:mm' }}
                                </h6>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <span for="qubits" class="mb-1">Qubits</span>
                                        <strong><span class="d-grid">{{ system.qubits }}</span></strong>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <span for="qubits" class="mb-1">
                                            <queue [queue]="system.queue" [isTable]="true"></queue>
                                        </span>
                                        <strong>
                                            <span class="d-grid">
                                                @if (system.queue?.type === "avg_time") {
                                                {{ convertFromMs(system.queue?.value) }}
                                                }@else {
                                                {{ system.queue?.value ?? 'N/A' }}
                                                }
                                            </span>
                                        </strong>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <span for="qubits" class="mb-1">Price</span>
                                        <!-- Hasta que se arregle el desplazamiento que causa full_price en algunos casos -->
                                        <!-- <strong><span class="d-grid">{{ system.price?.full_price ?? 'N/A' }}</span></strong> -->
                                        <strong>
                                            <span class="d-grid">
                                                @if (system.price?.per_task_price) {
                                                ${{ system.price?.per_task_price }}/task
                                                }@else if(system.price?.per_minute_price) {
                                                ${{ system.price?.per_minute_price }}/minute
                                                }@else {
                                                {{ 'N/A' }}
                                                {{ system.price?.full_price }}
                                                }
                                            </span>
                                        </strong>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <span for="qubits" class="mb-1">Status</span>
                                        <strong><span class="d-grid">
                                                <status [status]="system.status" [icon]="true"></status>
                                            </span></strong>
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <a routerLink="/systems/{{system.bid}}" class="btn btn-primary">Show system</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
                <div class="d-grid" style="margin: auto 4.5rem;">
                    <a routerLink="systems" class="btn btn-secondary">View all systems</a>
                </div>
            </div>
            }
        </div>
    </div>
    }@else {
    <div class="col-12 text-center">
        <span class="spinner-border spinner-border-lg"></span>
    </div>
    }
</div>

<style>
    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .carousel-control-next:hover,
    .carousel-control-prev:hover {
        filter: invert(0);
    }

    @media (width < 992px) {
        .hide-if-needed {
            display: none;
        }
    }
</style>