<div class="p-4">
    <div class="container">
        <h1>Admin</h1>
        <p>This section can only be accessed by administrators.</p>
        <div class="list-group">
            <a routerLink="accounts"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Manage Accounts</div>
                    CRUD operations for user accounts
                </div>
            </a>
            <a routerLink="database"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Manage Database</div>
                    CRUD operations for database | Update providers & systems
                </div>
            </a>
        </div>
    </div>
</div>