<div class="container mt-4 pb-3">
    @if (systems) {
    <h2>Welcome to the Quantum Provider Wizard</h2>
    <p class="lead">
        This wizard will help you find the best quantum computing provider for your needs.
    </p>
    <p-carousel [value]="systems" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="5000">
        <ng-template let-system pTemplate="item">
            <div class="card bg-body-tertiary my-2 mx-3">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{system.backend_name}} -
                        from {{ system.provider.provider_name }}
                        @if (system.provider.provider_from) {
                        (by {{ system.provider.provider_from }})
                        }
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-center">
                        Last updated: {{ system.last_checked | date: 'dd/MM/yy, HH:mm' }}
                    </h6>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <span for="qubits" class="mb-1">Qubits</span>
                            <strong><span class="d-grid">{{ system.qubits }}</span></strong>
                        </div>
                        <div class="col-md-6 mb-3">
                            <span for="qubits" class="mb-1">
                                <queue [queue]="system.queue" [isTable]="true"></queue>
                            </span>
                            <strong>
                                <span class="d-grid">
                                    @if (system.queue?.type === "avg_time") {
                                    {{ convertFromMs(system.queue?.value) }}
                                    }@else {
                                    {{ system.queue?.value ?? 'N/A' }}
                                    }
                                </span>
                            </strong>
                        </div>
                        <div class="col-md-6 mb-3">
                            <span for="qubits" class="mb-1">Price</span>
                            <!-- Hasta que se arregle el desplazamiento que causa full_price en algunos casos -->
                            <!-- <strong><span class="d-grid">{{ system.price?.full_price ?? 'N/A' }}</span></strong> -->
                            <strong>
                                <span class="d-grid">
                                    @if (system.price?.per_task_price) {
                                    ${{ system.price?.per_task_price }}/task
                                    }@else if(system.price?.per_minute_price) {
                                    ${{ system.price?.per_minute_price }}/minute
                                    }@else {
                                    {{ 'N/A' }}
                                    {{ system.price?.full_price }}
                                    }
                                </span>
                            </strong>
                        </div>
                        <div class="col-md-6 mb-3">
                            <span for="qubits" class="mb-1">Status</span>
                            <strong><span class="d-grid">
                                    <status [status]="system.status" [icon]="true"></status>
                                </span></strong>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <a routerLink="/systems/{{system.bid}}" class="btn btn-primary">Show system</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <h2>Quantum Machine Wizard</h2>
    <div class="card mt-3 bg-body-tertiary">
        <div class="card-body">
            <h5 class="mb-3">Step 1: Select Criteria</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <p class="mt-0 mb-2">Fill up the form to select the criteria for the quantum machine you are
                            looking for.</p>
                        <p class="mt-0 mb-2">The more criteria you select, the more accurate the results will be.</p>
                        <div class="d-grid">
                            <button class="btn btn-primary mt-3" [disabled]="!form.valid">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="qubits" class="mb-2">Min Qubits</label>
                        <input id="qubits" formControlName="qubits" class="form-control bg-body-tertiary mb-2">
                        <!--  -->
                        <label for="gates" class="mb-2">
                            Supported Gates
                            <i class="fa-regular fa-circle-question" ngbTooltip="Fomat: 'gate1,gate2,...'"></i>
                        </label>
                        <input id="gates" formControlName="supportedGates" class="form-control bg-body-tertiary mb-2">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="mb-2" for="queue-time">
                            Max Queue Time
                            <i class="fa-regular fa-circle-question" ngbTooltip="Format: 'Xd', 'Xhrs', or 'Xmin'"></i>
                        </label>
                        <input type="text" id="queue-time" formControlName="queueTime"
                            class="form-control bg-body-tertiary mb-2" pattern="^(\d+d)$|^(\d+hrs)$|^(\d+min)$">
                        <!--  -->
                        <label class="mb-2" for="queued-jobs">Max Queued Jobs</label>
                        <input id="queued-jobs" formControlName="queuedJobs" class="form-control bg-body-tertiary mb-2">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="mb-2" for="price-per-task">Max Price per task</label>
                        <input id="price-per-task" formControlName="pricePerTask"
                            class="form-control bg-body-tertiary mb-2">
                        <!--  -->
                        <label class="mb-2" for="price-per-shot">Max Price per shot</label>
                        <input id="price-per-shot" formControlName="pricePerShot"
                            class="form-control bg-body-tertiary mb-2">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-3 mb-5 bg-body-tertiary">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5>Step 2: Compare Providers</h5>
                <div class="d-flex justify-content-center">
                    <span style="padding: 6px 12px;">Found {{ countSystems() }} systems</span>
                    <div id="sortBy" class="dropdown mx-2">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sort by: {{ sort }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" (click)="sortSystems('Qubits')">Qubits</button></li>
                            <li><button class="dropdown-item" (click)="sortSystems('Queue')">Queue</button></li>
                            <li><button class="dropdown-item" (click)="sortSystems('Price')">Price</button></li>
                        </ul>
                    </div>
                    <div id="statusFilter" class="dropdown mx-2">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Status: {{ statusFilter }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" (click)="filterSystems('All')">All</button></li>
                            <li><button class="dropdown-item" (click)="filterSystems('Online')">Online</button></li>
                            <li><button class="dropdown-item" (click)="filterSystems('Offline')">Offline</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            @for (data of dataStructureFiltered; track $index) {
            <div class="card mt-3 bg-body-tertiary">
                <div class="card-body">
                    <h5 class="card-title">
                        {{data["provider"].name}}
                        @if (data["provider"].thirdParty) {
                        (by {{ data["provider"].thirdParty }})
                        }
                    </h5>
                    <h6 class="card-subtitle mb-3 text-body-secondary">
                        Last updated: {{ data["provider"].lastChecked | date: 'dd/MM/yy, HH:mm' }}
                        <!-- {{ data["provider"].description.short_description }} -->
                    </h6>
                    @for (system of data.systems; let isLast = $last; track $index) {
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>
                                <strong>{{ system["backend_name"] }}</strong>
                                @if (system["provider_from"]) {
                                , by {{ system["provider_from"] }}
                                }
                            </p>
                            <p>Qubits: {{ system["qubits"] }} qubits</p>
                            <p>Status: <status [status]="system['status']" [icon]="true"></status>
                            </p>
                            <p>
                                <queue [queue]="system.queue"></queue>
                                @if (system.queue?.type === "avg_time") {
                                {{ convertFromMs(system.queue?.value) }}
                                }@else {
                                {{ system.queue?.value ?? 'N/A' }}
                                }
                            </p>
                            <p>Price: {{ system["price"]?.full_price ?? 'N/A' }}</p>
                            @if (form.controls['supportedGates'].value) {
                            @if (system["gates_supported"] && system["gates_supported"].length > 0) {
                            <p>Gates aws: {{ system["gates_supported"].join(", ") }}</p>
                            }
                            @if (system["basis_gates"] && system["basis_gates"].length > 0) {
                            <p>Gates: {{ system["basis_gates"].join(", ") }}</p>
                            }
                            }
                        </div>
                        <div class="text-right">
                            <a routerLink="/systems/{{system.bid}}" class="btn btn-primary">Show System</a>
                        </div>
                    </div>
                    @if (!isLast) {
                    <hr>
                    }
                    }
                </div>
            </div>
            }@empty {
            <div class="card mt-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">No systems found</h5>
                    <p class="card-text">Try changing the criteria to find more systems.</p>
                </div>
            </div>
            }
        </div>
    </div>
    }@else {
    <div class="col-12 text-center">
        <span class="spinner-border spinner-border-lg"></span>
    </div>
    }
</div>
<style>
    .card-title {
        font-size: 1.25rem;
    }

    .card-body p {
        margin: 0.25rem 0;
    }

    @media (width < 768px) {
        #sortBy {
            display: none;
        }

        #statusFilter {
            display: none;
        }
    }
</style>